@model DLInventoryApp.ViewModels.Items.EditItemVm

<h2>Edit Item for @Model.InventoryTitle</h2>
<form asp-action="Edit"
      asp-route-inventoryId="@Model.InventoryId"
      asp-route-itemId="@Model.ItemId"
      method="post">

    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="InventoryId" />
    <input type="hidden" asp-for="ItemId" />

    <div>
        <label asp-for="CustomId"></label>
        <input asp-for="CustomId" class="form-control" />
        <span asp-validation-for="CustomId" class="text-danger"></span>
    </div>
    @if (Model.Fields != null)
    {
        @for (int i = 0; i < Model.Fields.Count; i++)
        {
            <div class="mt-3">
                <div><strong>@Model.Fields[i].Name</strong></div>

                @if (Model.Fields[i].Type == DLInventoryApp.Models.CustomFieldType.Text)
                {
                    <input asp-for="Fields[@i].TextValue" class="form-control" />
                }
                else if (Model.Fields[i].Type == DLInventoryApp.Models.CustomFieldType.Number)
                {
                    <input asp-for="Fields[@i].NumberValue" type="number" class="form-control" />
                }
                else if (Model.Fields[i].Type == DLInventoryApp.Models.CustomFieldType.Date)
                {
                    <input asp-for="Fields[@i].DateValue" type="date" class="form-control" />
                }
                else if (Model.Fields[i].Type == DLInventoryApp.Models.CustomFieldType.Boolean)
                {
                    <input asp-for="Fields[@i].BoolValue" type="checkbox" />
                }

                <input type="hidden" asp-for="Fields[@i].CustomFieldId" />
                <input type="hidden" asp-for="Fields[@i].Type" />
                <input type="hidden" asp-for="Fields[@i].Name" />
            </div>
        }
    }
    <button type="submit">Save</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
